/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
body {
    background-color: rgba(253, 245, 218, 255);
}

.masterContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}

.containerList {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 525px;
    height: auto;
    background-color: rgb(255, 255, 255);
    border: 2px solid red;
    flex-direction: column;
}

.containerList {
width: ;
height: ;
}